/* 接頭辞なし */


/* ヘッダー */
 .headerTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    width: 80%;


}

 .headerTitle-min {
    position: relative;
    display: flex;
    justify-content:space-between;
    align-self: flex-start;
    align-items: flex-end;
    /* font-size: 2.3rem; */
    line-height: 1.347;/*行間31px÷fontsize23px*/
    letter-spacing: 0.2em;/*AV200÷1000 + em*/
  
 }

.navWrapper {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   

   
}


 .navList {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    margin: 0 auto;
    
    justify-content: space-around;

    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navItem {
   display: flex;
   font-size: 2.0rem;
   line-height: 1.6;
   letter-spacing: 0.1em;
   align-items: center;
   text-align: center;/*テキスト中央ぞろえ*/
   justify-content: center;
   cursor: pointer;

}

/* スライドショーここから */
.bgImg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: animeBg 60s infinite;
}


@keyframes animeBg {
    0%{opacity: 0;}
    1%{opacity: 1;}
    25%{opacity: 1;}
    26%{opacity: 0;}
    100%{opacity: 0;}
}


/* スライドショーここまで */
.bgBox {
    position: absolute;
    height: 1079px;
    width: 100%;
    margin: auto;
}


.bgBox .bgImage {
   /* background: url("image.svg/62602440_451046305708947_1811642382551089152_n-image.jpg"); */
   background: url("image.svg/home-image.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   /* height: 1079px; */
   z-index: -100;
   position: absolute;
   object-fit: contain;
   background-position-y: -111px;
   margin: 0;
   padding: 50%;

   left: 0;
   top: 0;


}
.bgImageMin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12%;
 }


.bgImage2 {
   background-image: url("image.svg/logo-white.png");
   z-index: -80;
   background-size: contain;
   background-position: center top;
   position: absolute;
   background-repeat: no-repeat;
   z-index: 1;
   
   width: 888px;
   height: 50%;
   object-fit: cover;
   top: initial;
   left: initial;
   transform: initial;

}
.bgImage4 {
    background: url("image.svg/66785460_332855247605145_6936626599722745856_n.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 1079px; */
    z-index: -100;
    position: absolute;
    object-fit: contain;
    background-position-y: 2px;
    margin: 0;
    padding: 50%;

    animation-delay: 10s;
 }
.bgImage5 {
    background: url("image.svg/65467287_496617880878565_1611677239349346304_n.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 1079px; */
    z-index: -100;
    position: absolute;
    object-fit: contain;
    background-position-y: 2px;
    margin: 0;
    padding: 50%;

    animation-delay: 20s;
 
 
 }
.bgImage6 {
    background: url("image.svg/65470401_355624348470844_9079785503418482688_n.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 1079px; */
    z-index: -100;
    position: absolute;
    object-fit: contain;
    background-position-y: 2px;
    background-position-x: 0;
    margin: 0;
    padding: 50%;

    animation-delay: 30s;
 
 
 }
.bgImage7 {
    background: url("image.svg/65662181_736199493480161_3564494926337015808_n.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 1079px; */
    z-index: -100;
    position: absolute;
    object-fit: contain;
    background-position-y: 2px;
    margin: 0;
    padding: 50%;

    animation-delay: 40s;
 }
.bgImage8 {
    background: url("image.svg/65716664_2514457691971614_8615425300211171328_n.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 1079px; */
    z-index: -100;
    position: absolute;
    object-fit: contain;
    background-position-y: 2px;
    margin: 0;
    padding: 50%;

    animation-delay: 50s;

 }


/* *****************調整用 ****************************/
@media screen and ( max-width: 1152px){
    .bgBox {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .navItem {
        
        font-size: 1.35rem;
     }

     .bgImage {
        background: url("image.svg/home-image.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        /* height: 1079px; */
        z-index: -100;
        position: absolute;
        object-fit: contain;
        background-position-y: -40px;
        margin: 0;
        padding-top: 67%;
     
     
     }
     .bgImageMin {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: calc(100% - -25%);
        max-width: 1619px;
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
     }

     .bgImage2 {
        width: 50%;
        height: 50%;

        /* top: 50vw; */
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        align-items: center;

     }
}


/******************** タブレット ************************************/

@media screen and (max-width: 768px) {
    .bgBox {
        position: absolute;
        height: 463px;
        width: 100%;

    }


   .bgBox .bgImage {
      padding-top: 67%;
      background-position-y: -52px;
    }

    

    .bgBox .bgImage2 {
       z-index: 100;
   
       width: 50%;
       height: 50%;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
 
    }


    .bgImage4 {
        background-position-y: -32px;
        background-position-x: -60px;
        background-size: contain;
        padding: 57.4%;


        animation-delay: 10s;
     }
    .bgImage5 {
        background-position-y: -32px;
        background-position-x: -60px;
        background-size: contain;
        padding: 57.4%;

        animation-delay: 20s;
     }
    .bgImage6 {
        background-position-y: -32px;
        background-position-x: -60px;
        background-size: contain;
        padding: 57.4%;
        animation-delay: 30s;
     }
    .bgImage7 {
        background-position-y: -32px;
        background-position-x: -60px;
        background-size: contain;
        padding: 57.4%;
        animation-delay: 40s;
     }
    .bgImage8 {
        background-position-y: -32px;
        background-position-x: -60px;
        background-size: contain;
        padding: 57.4%;
        animation-delay: 50s;
    
     }
    


     .bgImageMin {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 374px;
        top: 54px;
        left: 0;
        transform: initial;
     }



    /* ヘッダー */
.headerTitle {
   position: relative;
   display: flex;
   flex-direction: column;
   padding-left: 23px;

   }

   .headerTitle-min {
      position: relative;
      display: flex;
      justify-content:space-between;
      align-self: flex-start;
      align-items: flex-end;
      /* font-size: 2.3rem; */
      line-height: 1.347;/*行間31px÷fontsize23px*/
      letter-spacing: 0.2em;/*AV200÷1000 + em*/

   }
   /* ハンバーガーメニュー */
   .navList {
      /* z-index: 10000; */
      position: absolute;
      z-index: 600;
      top: -410px;
      left: 0px;
      width: 100%;
      height: 40.9rem;
      /* transition: all 0.2s ease-in-out; */
      overflow-y: auto;/*縦方向の表示*/

      display: flex;
      flex-direction: column;
      transition: opacity .8s ease, visibility .6s ease;

      background-color: rgba(0,0,0,0.7);
      visibility: .6s ease;
      opacity: 0;

  }
  .clicked .navList {
      left: 0px;
      visibility: visible;
      opacity: 1;
      top: 53px;
  }

  .clicked .navList li {
      margin-left: 10px;
  }

  .clicked .navList .navItem {
      transform: translateY(0px);
  }

  .navItem {
      padding: 2px 0;
      font-size: 1.5rem;
      transition: transform 6s ease, opacity .2s ease;
  }

  .navList li{
      transform: translateY(-220px);

      transition: transform .6s ease, opacity .2s ease;
  }

  .navList li:nth-child(2)  {
      transition-delay: .15s;
  }
  .navList li:nth-child(3) {
      transition-delay: .3s;
  }

  .navList li:nth-child(4) {
      transition-delay: .45s;

  }
  .navList .navItem:nth-child(5) {
      transition-delay: .6s;

  }

  





  .toggleBtn {
      /* display: none; */
      z-index: 2000;
      position: absolute;
      top: 0;
      width: 31px;
      height: 50px;
      right: 26.3px;
      cursor: pointer;
      transition: all .30s ease-in-out;/*0.3秒かけて変化*/
  }

  .toggleLine {
      display: block;
      position: absolute;
      z-index: 2100;
      right: 6.3px;
      top: 14px;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
  }

  .tg1 {
      top: 14px;
  }
  .tg2 {
      top: 27.5px;
  }
  .tg3 {
      top: 40.5px;
  }
/* .toggleBtn span:nth-child(1){top:14px;}
.toggleBtn span:nth-child(2){top: 27.5px;}
.toggleBtn span:nth-child(3){top: 40.5px;} */




  .toggleLine {
      transition: all 0.3s;
  }

  /* togglerにclickedクラス付与されたら*/

  .clicked .tg1 {
      transform: translateY(16px) rotate(-315deg);/*時計回りに45度回転*/
      /* top: 20px; */
  }
  .clicked .tg2 {
      /* width: 0px; */
      opacity: 0;
  }
  .clicked .tg3 {
      transform: translateY(-10px) rotate(315deg);/*反時計周りに45度回転*/
      /* top: 20px; */
  }


  .fa-facebook-official,
  .fa-square {
      display: none;
  }
  .clicked .fa-square {
      position: relative;
      top: 2px;
  }

  .clicked .fa-facebook-f {
      font-size: 20px;
      cursor: pointer;
  }
  .clicked .fa-stack-2x {
      font-size: 1.3em;
      
   
  }
  .clicked .fa-instagram {
      font-size: 30px;
      cursor: pointer;
  }


}

/* *****************調整用 ****************************/
@media screen and ( max-width: 512px){

    .bgimageBox {
        height: 736px;
        width: 100%;
        position: absolute;
      }
    .bgImg2 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        animation: animeBg2 40s infinite;
    }
    
    
    @keyframes animeBg2 {
        0%{opacity: 0;}
        1%{opacity: 1;}
        25%{opacity: 1;}
        26%{opacity: 0;}
        100%{opacity: 0;}
    }
    
    .responSive {
        background-image: url("image.svg/アセット-2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        position: absolute;
        object-fit: cover;
        background-position-x: 1px;
      
     
     }
     .responSive2 {
        background-image: url("image.svg/65467291_229361854613821_4553332007173619712_n.png");
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        position: absolute;
        object-fit: cover;
        background-position-x: 1px;
  
        animation-delay: 10s;
      
     }
     .responSive3 {
        background-image: url("image.svg/アセット-6.png");
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        position: absolute;
        object-fit: cover;
        background-position-x: 1px;
        animation-delay: 20s;
     
     }
     .responSive4 {
        background-image: url("image.svg/アセット-4.png");
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 100%;
        height: 100%;
        z-index: -100;
        position: absolute;
        object-fit: cover;
        background-position-x: 1px;
        animation-delay: 30s;
     }
    

     .bgImage, .bgImage2, .bgImage4,
     .bgImage5, .bgImage6, .bgImage7,
     .bgImage8, .bgImageMin, .bgBox, .bgImg {
         display: none;
     }
    
     .bgImageMin2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 736px;
        top: calc(50% - -108px);
        left: 50%;
        transform: translate(-50%, -50%);
     }
 
   .bgImage3{
    
      background-image: url("image.svg/logo-white-3.png");
      z-index: 100;
      background-size: contain;
      background-position: center top;
      position: absolute;
      background-repeat: no-repeat;
  
      height: 50%;
      width: 289.31px;
      top: initial;
      left: initial;
      transform: initial;

   }
  


     .navList {
        top: -410px;
        left: 0px;
        width: 100%;
        height: 21.5rem;
      }
      .navItem {
        font-size: 0.9rem;
        
    }

    .clicked .navList {
        /* right: 100%; */
        visibility: visible;
        opacity: 1;
        width: 350px;
        top: 53px;
        height: 681.85px;
        left: 0;
    }

    .clicked .navList .navItem {
        top: 0;
        position: relative;
        transform: translateX(0px);
    }
    .toggleBox {
        display: flex;
        justify-content: center;
        width: calc (25% - -100px);
    }

      .toggleBtn {
          /* display: none; */
          z-index: 2000;
          position: absolute;
          top: 0;
          width: 22.96px;
          height: 18.02px;
          right: 14px;
          cursor: pointer;
          transition: all .30s ease-in-out;/*0.3秒かけて変化*/
      }

      .toggleLine {
          display: block;
          position: absolute;
          z-index: 2100;
          right: 6.3px;
          top: 14px;
          width: 100%;
          height: 2px;
          background-color: #ffffff;
      }
      .tg1 {
            top: 21.8px;
        }
        .tg2 {
            top: 30.8px;
        }
        .tg3 {
            top: 39.8px;
        }
        .clicked .toggleBtn {
            /* display: none; */
            z-index: 2000;
            position: absolute;
            top: -5px;
            width: 31px;
            height: 50px;
            left: 305.5px;
            cursor: pointer;
            transition: all .30s ease-in-out;/*0.3秒かけて変化*/
        }
        .clicked .tg1 {
        transform: translateY(9px) rotate(-315deg);/*時計回りに45度回転*/
        /* top: 20px; */
        }
        .clicked .tg2 {
            /* width: 0px; */
            opacity: 0;
        }
        .clicked .tg3 {
            transform: translateY(-9px) rotate(315deg);/*反時計周りに45度回転*/
            /* top: 20px; */
        }
        .navItem {
    
            font-size: 1.35rem;
            }
    
    
        .fa-stack {
            margin: 0 31px;
            cursor: pointer;
        }

        .fa-facebook-official,
        .fa-square {
            display: none;
        }
        .clicked .fa-square {
            position: relative;
            top: -14px;
        }
    
        .clicked .fa-facebook-f {
            font-size: 37px;
            top: -7px;
            left: 6px;
            
        }
        .clicked .fa-stack-2x {
            font-size: 2.3em;
        
        }
        .clicked .fa-instagram {
            font-size: 5.3rem;
            cursor: pointer;
        }
}





/******************************* スマホ版 ********************************/

@media screen and ( max-width: 378px){
    .bgimageBox {
        height: 667px;
        width: 100%;
        position: absolute;
      }

    /* スライドショーここから */
    .bgImg2 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        animation: animeBg2 40s infinite;
    }


    @keyframes animeBg2 {
        0%{opacity: 0;}
        1%{opacity: 1;}
        25%{opacity: 1;}
        26%{opacity: 0;}
        100%{opacity: 0;}
    }


/* スライドショーここまで */

   .responSive {
      background-image: url("image.svg/アセット-2.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 100%;
      width: 100%;
      height: 100%;
      z-index: -100;
      position: absolute;
      object-fit: cover;
      background-position-x: 1px;
    
   
   }
   .responSive2 {
      background-image: url("image.svg/65467291_229361854613821_4553332007173619712_n.png");
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 100%;
      width: 100%;
      height: 100%;
      z-index: -100;
      position: absolute;
      object-fit: cover;
      background-position-x: 1px;

      animation-delay: 10s;
    
   
   }
   .responSive3 {
      background-image: url("image.svg/アセット-6.png");
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 100%;
      width: 100%;
      height: 100%;
      z-index: -100;
      position: absolute;
      object-fit: cover;
      background-position-x: 1px;
      animation-delay: 20s;
   
   }
   .responSive4 {
      background-image: url("image.svg/アセット-4.png");
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 100%;
      width: 100%;
      height: 100%;
      z-index: -100;
      position: absolute;
      object-fit: cover;
      background-position-x: 1px;
      animation-delay: 30s;
   }
   .bgImage, .bgImage2, .bgImage4,
   .bgImage5, .bgImage6, .bgImage7,
   .bgImage8 {
       display: none;
   }
   .bgImageMin {
       display: none;
   }

   .bgImageMin2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 35%;
 }
   
   .bgImage3{
    
      background-image: url("image.svg/logo-white-3.png");
      z-index: 100;
      background-size: contain;
      background-position: center top;
      position: absolute;
      background-repeat: no-repeat;
  
      height: 50%;
      width: 289.31px;
      top: initial;
      left: initial;
      transform: initial;

   }
   .clicked .bgImage2 {
       opacity: 0.6;
   }

   .bgImageMin {
     display: none;
   }
   /* ヘッダー */
   .headerTitle {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 23px;
  

  }

  .headerTitle-min {
      position: relative;
      display: flex;
      justify-content:space-between;
      align-self: flex-start;
      align-items: flex-end;
      /* font-size: 2.3rem; */
      line-height: 1.347;/*行間31px÷fontsize23px*/
      letter-spacing: 0.2em;/*AV200÷1000 + em*/
  
  }





   /* ハンバーガーメニュー */
      .navList {
  
          position: absolute;
          display: block;
          top: 54px;
          width: 100%;
          left: 376px;
          max-height: auto;
          /* transition: all 0.2s ease-in-out; */
          overflow-y: auto;/*縦方向の表示*/
          justify-content: center;
          display: flex;
          flex-direction: column;
          transition: opacity .8s ease, visibility .6s ease;

          background-color: rgba(0,0,0,0.7);
          visibility: .6s ease;
          opacity: 0;
      }
      .clicked .navList {
          /* right: 100%; */
          visibility: visible;
          opacity: 1;
          width: 310px;
          top: 54px;
          height: 616.85px;
          left: 0;
      }

      .clicked .navList .navItem {
          top: -22px;
          position: relative;
          transform: translateX(0px);
      }
      .clicked .toggleBtn {
        /* display: none; */
        z-index: 2000;
        position: absolute;
        top: -5px;
        width: 31px;
        height: 50px;
        left: 274.5px;
        cursor: pointer;
        transition: all .30s ease-in-out;/*0.3秒かけて変化*/
      }

      .navItem {
          padding: 2px 0;
          font-size: 1.3rem;
          margin-bottom: 40px;
          line-height: 1.06;

          transition: transform 6s ease, opacity .2s ease;
      }
      .navItem:nth-child(5) {
          margin-bottom: 0;
      }

      .navList li {
          transform: translateX(200px);

          transition: transform .6s ease, opacity .2s ease;
      }

      .navList li:nth-child(2) {
          transition-delay: .15s;
          

      }
      .navList li:nth-child(3) {
          transition-delay: .3s;
      

      }
      .navList li:nth-child(4) {
          transition-delay: .45s;

      }
      .navList .navItem:nth-child(5) {
          transition-delay: .6s;

      }


      .toggleBox {
        display: flex;
        justify-content: center;
        width: calc (25% - -100px);
    }

      .toggleBtn {
          /* display: none; */
          z-index: 2000;
          position: absolute;
          top: 0;
          width: 22.96px;
          height: 18.02px;
          right: 14px;
          cursor: pointer;
          transition: all .30s ease-in-out;/*0.3秒かけて変化*/
      }

      .toggleLine {
          display: block;
          position: absolute;
          z-index: 2100;
          right: 6.3px;
          top: 14px;
          width: 100%;
          height: 2px;
          background-color: #ffffff;
      }

      .tg1 {
          top: 21.8px;
      }
      .tg2 {
          top: 30.8px;
      }
      .tg3 {
          top: 39.8px;
      }
  /* .toggleBtn span:nth-child(1){top:14px;}
  .toggleBtn span:nth-child(2){top: 27.5px;}
  .toggleBtn span:nth-child(3){top: 40.5px;} */


      .toggleLine {
          transition: all 0.3s;
      }

      /* togglerにclickedクラス付与されたら*/

      .clicked .tg1 {
          transform: translateY(14px) rotate(-315deg);/*時計回りに45度回転*/
          /* top: 20px; */
      }
      .clicked .tg2 {
          /* width: 0px; */
          opacity: 0;
      }
      .clicked .tg3 {
          transform: translateY(-5px) rotate(315deg);/*反時計周りに45度回転*/
          /* top: 20px; */
      }

      .fa-stack {
          margin: 0 31px;
          cursor: pointer;
      }

      .fa-facebook-official,
      .fa-square {
          display: none;
      }
      .clicked .fa-square {
          position: relative;
          top: 2px;
      }
    
      .clicked .fa-facebook-f {
          font-size: 37px;
          top: 6px;
          left: 6px;
          
      }
      .clicked .fa-stack-2x {
          font-size: 2.3em;
       
      }
      .clicked .fa-instagram {
          font-size: 5.3rem;
          cursor: pointer;
      }

}
/* ********************** 調整用 **********************************/
@media screen and ( max-width: 340px) {
    .bgimageBox {
        height: 568px;
        width: 100%;
        position: absolute;
      }

    .bgImage, .bgImage2, .bgImage4,
   .bgImage5, .bgImage6, .bgImage7,
   .bgImage8 {
       display: none;
   }
    .responSive {
        background-image: url(image.svg/アセット-2.jpg);
        
        background-position-x: 1px;
        width: 100%;
        height: 100%;
    }
    .responSive2 {
        background-image: url("image.svg/65467291_229361854613821_4553332007173619712_n.png");
        width: 100%;
        height: 100%;
        animation-delay: 10s;
      
     
     }
     .responSive3 {
        background-image: url("image.svg/アセット-6.png");
        width: 100%;
        height: 100%;
        animation-delay: 20s;
     
     }
     .responSive4 {
        background-image: url("image.svg/アセット-4.png");
        width: 100%;
        height: 100%;
        animation-delay: 30s;
     }
     .bgImageMin {
         display: none;
     }
     .bgImageMin2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        width: 50%;
        height: 50%;
        max-height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

       

     }
     .bgImage3{
    
        background-image: url("image.svg/logo-white-3.png");
        z-index: 100;
        background-size: contain;
        background-position: center top;
        position: absolute;
        background-repeat: no-repeat;
        height: 50%;
        width: 289.31px;
        top: initial;
        left: initial;
        transform: initial;
     }
    .toggleBtn {
        position: absolute;
        top: 0;
        right: 70px;
        cursor: pointer;
        transition: all .30s ease-in-out;/*0.3秒かけて変化*/
    }
    .clicked .navList .navItem {
        top: -56px;
        
    }
    .clicked .toggleBtn {

        top: -3px;
        left: 218px;
        
    }
    .clicked .navList {
        /* right: 100%; */
        visibility: visible;
        opacity: 1;
        width: 255px;
        top: 54px;
        height: 616.85px;
        left: 0;
    }
       .clicked .fa-stack-2x {
        font-size: 1.4em;
     
       }
       .clicked .fa-facebook-f {
        font-size: 24px;
        top: -3px;
        left: 5px;
        
       }
       .clicked .fa-instagram {
        font-size: 4rem;
        cursor: pointer;
    }

}
