.u-navTxt {
  font-size: 1.7rem;
  line-height: 1.347; /*行間31px÷fontsize23px*/
  letter-spacing: 0.2em; /*AV200÷1000 + em*/
  /* margin-top: 53px; */
  margin-right: 25px;
}

.u-navTxt-bgs {
  font-size: 3rem;
  line-height: 1.05; /*行間53px÷fontsize40px */
  letter-spacing: 0.1em; /* AV200 ÷1000 +em*/
  /* margin-top: 33px; */
}

/*　ナビ小文字 */
.u-navTxt-s {
  font-size: 1.15rem;
  /* padding-top: 3px; */
  line-height: 1.33; /*行間20px÷fontsize15px */
  letter-spacing: 0.2em; /* AV200 ÷1000 +em*/
}
.u-navTxt-s2 {
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;

}

/* *******************main top **********************/


.u-topTitle {
  font-family: "Toppan Bunkyu Midashi Mincho";
  font-size: 5.0rem;
  letter-spacing: 0.1em;
  line-height: 0.6;
  color: #000;
  margin-bottom: 63.1px;

  position: relative;
  left: 40px;
}

.u-topPara, .u-topPara2, .u-topPara3 {
  font-size: 3.5rem;
  font-family: "Toppan Bunkyu Mincho";
  letter-spacing: 0.1em;
  line-height: 1.43;
  color: #000;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  


}
.u-topPara {
  margin-bottom: 40px;
}

.u-topPara3 {
  margin-top: 55.6px;
}

.u-topBtn {
 display: inline-block;
 background: transparent;
 color: #000;
 border: 1px solid #000;
 text-align: center;
 cursor: pointer;
 width: 200px;
 height: 67.38px;

 font-size: 2.0rem;
 font-family: "Toppan Bunkyu Midashi Mincho";
 letter-spacing: 0.1em;
 line-height: 1.35px;

 text-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);

}
/* *******************section lodge **********************/

.u-secoTitle {
  font-size: 5rem;
  letter-spacing: 0.1em;
  color: #000;
  font-family: "Toppan Bunkyu Midashi Mincho";
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  /* font-weight: bold; */

}

.u-secoTtl {
  font-size: 4rem;
  left: 40px;
  position: relative;
  font-family: "Toppan Bunkyu Midashi Mincho";
}


.u-secoSub {
  position: relative;
  font-size: 14rem;
  line-height: 0.21;
  letter-spacing: 0.1em;
  color: #000;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
  /* font-weight: bold; */
  opacity: 0.2;
  transform: rotate(-90deg);

}

.u-secoInner {
  background-color: #ffffff;
  opacity: 0.9;
  

}




.u-secoPara {
  font-size: 1.8rem;
  font-family: "Toppan Bunkyu Mincho";
  letter-spacing: 0.1em;
  line-height: 1.67;
  color: #000;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  top: 74.1px;
  left: 75px;
}
.u-secoPara2 {
  font-size: 1.5rem;
  font-family: "Toppan Bunkyu Mincho";
  letter-spacing: 0.1em;
  line-height: 3.33;
  color: #000;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 248.1px;
  left: 76px;
}

.u-secoBtn {
  display: inline-block;
  background: transparent;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
  width: 156.42px;
  height: 67.38px;
 
  font-size: 1.5rem;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.1em;
  line-height: 1.8;
 
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);
 
 }
/* *******************section food **********************/

.u-triTitle {
  font-size: 5rem;
  letter-spacing: 0.1em;
  color: #000;
  font-family: "Toppan Bunkyu Midashi Mincho";
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  /* font-weight: bold; */

}

.u-triTtl {
  font-size: 4rem;
  left: 40px;
  position: relative;
  font-family: "Toppan Bunkyu Midashi Mincho";
}


.u-triSub {
  position: relative;
  font-size: 14rem;
  line-height: 0.21;
  letter-spacing: 0.1em;
  font-family: "Toppan Bunkyu Midashi Mincho";
  color: #000;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
  /* font-weight: bold; */
  opacity: 0.2;
  transform: rotate(-90deg);

}

.u-triInner {
  background-color: #ffffff;
  opacity: 0.9;
  

}




.u-triPara {
  font-size: 1.8rem;
  font-family: "Toppan Bunkyu Mincho";
  letter-spacing: 0.1em;
  line-height: 1.67;
  color: #000;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  top: 74.1px;
  left: 75px;
}
.u-triPara2 {
  font-size: 1.5rem;
  font-family: "Toppan Bunkyu Mincho";
  letter-spacing: 0.1em;
  line-height: 3.33;
  color: #000;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 248.1px;
  left: 76px;
}

.u-triBtn {
  display: inline-block;
  background: transparent;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
  width: 156.42px;
  height: 67.38px;
 
  font-size: 1.5rem;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.1em;
  line-height: 1.8;
 
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.16);
 
 }



/* *******************調整用 **********************/

@media screen and (max-width: 1152px) {
  /*　ナビ小文字 */
  .u-navTxt-s {
    font-size: 1.15rem;

    line-height: 1.33;
    letter-spacing: 0.2em;
  }
  .u-navTxt-s2 {
    font-size: 0.7rem;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }
}

/* タブレット版 */
@media screen and (max-width: 768px) {
  .u-navTxt {
    font-size: 1.3rem;
    line-height: 1.347; /*行間31px÷fontsize23px*/
    letter-spacing: 0.2em; /*AV200÷1000 + em*/
    /* margin-top: 53px; */
    margin-right: 10px;
  }

  .u-navTxt-bgs {
    font-size: 2rem;
    line-height: 1.325; /*行間53px÷fontsize40px */
    letter-spacing: 0.2em; /* AV200 ÷1000 +em*/
    /* margin-top: 33px; */
  }

  /*　ナビ小文字 */
  .u-navTxt-s {
    font-size: 0.85rem;
    /* padding-top: 3px; */
    line-height: 1.33; /*行間20px÷fontsize15px */
    letter-spacing: 0.2em; /* AV200 ÷1000 +em*/
  }

  .u-navTxt-s2 {
    font-size: 1rem;
    line-height: 1.33;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
  }
}

/* 調整用 */

@media screen and (max-width: 512px) {
  .u-navTxt-s2 {
    font-size: 0.7rem;
    line-height: 1.2;
    letter-spacing: 0.2em;
  }
  .u-navTxt {
    font-size: 0.9rem;
    line-height: 1.347;
    letter-spacing: 0.2em;
    margin-right: 5px;
  }

  .u-navTxt-bgs {
    font-size: 1.7rem;
    line-height: 1.325;
    letter-spacing: 0.2em;
  }

  .clicked .u-navColor {
    background-color: rgba(0, 0, 0, 0.7);
  }

  /*　ナビ小文字 */
  .u-navTxt-s {
    font-size: 0.6rem;
    transform: scale(0.95);
    line-height: 1.33;
    letter-spacing: 0.2em;
  }

  .u-navTxt-s2 {
    font-size: 1.3rem;
    line-height: 1.33;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
  }
}

/* スマホ版 */
@media screen and (max-width: 378px) {
  .u-navTxt {
    font-size: 0.9rem;
    line-height: 1.347;
    letter-spacing: 0.2em;
    margin-right: 5px;
  }

  .u-navTxt-bgs {
    font-size: 1.7rem;
    line-height: 1.325;
    letter-spacing: 0.2em;
  }

  .clicked .u-navColor {
    background-color: rgba(0, 0, 0, 0.7);
  }

  /*　ナビ小文字 */
  .u-navTxt-s {
    font-size: 0.4rem;
    transform: scale(0.95);
    line-height: 1.33;
    letter-spacing: 0.2em;
  }

  .u-navTxt-s2 {
    font-size: 1.3rem;
    line-height: 1.33;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 340px) {
  .u-navTxt-s {
    font-size: 0.5rem;
    transform: scale(0.95);
    line-height: 1.33;
    letter-spacing: 0.2em;
  }

  .u-navTxt-s2 {
    font-size: 1.3rem;
    line-height: 1.33;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
  }
}
