

.u-navTxt{
    
    font-size: 1.7rem;
    line-height: 1.347;/*行間31px÷fontsize23px*/
    letter-spacing: 0.2em;/*AV200÷1000 + em*/
    /* margin-top: 53px; */
    margin-right: 25px;
}

.u-navTxt-bgs {
    font-size: 3.0rem;
    line-height: 1.05;/*行間53px÷fontsize40px */
    letter-spacing: 0.1em;/* AV200 ÷1000 +em*/
    /* margin-top: 33px; */
}



/*　ナビ小文字 */
 .u-navTxt-s {
    font-size: 1.15rem;
    /* padding-top: 3px; */
    line-height: 1.33;/*行間20px÷fontsize15px */
    letter-spacing: 0.2em;/* AV200 ÷1000 +em*/
}
.u-navTxt-s2 {
    font-size: 1.2rem;
    line-height: 1.33;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
   

}

@media screen and ( max-width: 1132px){
    /*　ナビ小文字 */
 .u-navTxt-s {
    font-size: 1.15rem;

    line-height: 1.33;
    letter-spacing: 0.2em;
}
.u-navTxt-s2 {
    font-size: 0.7rem;
    line-height: 1.2;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
   

}
}











/* タブレット版 */
@media screen and (max-width: 768px) {
    .u-navTxt{
        font-size: 1.3rem;
        line-height: 1.347;/*行間31px÷fontsize23px*/
        letter-spacing: 0.2em;/*AV200÷1000 + em*/
        /* margin-top: 53px; */
        margin-right: 10px;
    }

    .u-navTxt-bgs {
        font-size: 2.0rem;
        line-height: 1.325;/*行間53px÷fontsize40px */
        letter-spacing: 0.2em;/* AV200 ÷1000 +em*/
        /* margin-top: 33px; */
    }

    /*　ナビ小文字 */
    .u-navTxt-s {
        font-size: 0.85rem;
        /* padding-top: 3px; */
        line-height: 1.33;/*行間20px÷fontsize15px */
        letter-spacing: 0.2em;/* AV200 ÷1000 +em*/
    }


    .u-navTxt-s2 {
        font-size: 1rem;
        line-height: 1.33;
        letter-spacing: 0.2em;
        display: flex;
        justify-content: center;
    }
}





/* スマホ版 */
@media screen and ( max-width: 378px){
    .u-navTxt {
              
      font-size: 1.0rem;
      line-height: 1.347;/*行間31px÷fontsize23px*/
      letter-spacing: 0.2em;/*AV200÷1000 + em*/
      /* margin-top: 53px; */
      margin-right: 5px;
  }
  
  .u-navTxt-bgs {
      font-size: 1.7rem;
      line-height: 1.325;/*行間53px÷fontsize40px */
      letter-spacing: 0.2em;/* AV200 ÷1000 +em*/
      /* margin-top: 33px; */
  }
  
 .clicked .u-navColor{
      background-color: rgba(0,0,0,0.7);
  }
  
  /*　ナビ小文字 */
  .u-navTxt-s {
      font-size: 0.6rem;
      transform: scale(0.95);
      /* padding-top: 3px; */
      line-height: 1.33;/*行間20px÷fontsize15px */
      letter-spacing: 0.2em;/* AV200 ÷1000 +em*/
  }
  
  
    .u-navTxt-s2 {
      font-size: 1.3rem;
      line-height: 1.33;
      letter-spacing: 0.2em;
      display: flex;
      justify-content: center;
  
  
    }
  
  }
  
  